type: "SNIPPET_NOTE"
folder: "6cbe5818d58870c04fde"
title: "Snippet note example"
description: '''
  Snippet note example
  You can store a series of snippet as a single note like Gist.
'''
snippets: [
  {
    name: "example.html"
    mode: "html"
    content: '''
      <html>
      <body>
      <h1 id='hello'>Hello World</h1>
      </body>
      </html>
    '''
  }
  {
    name: "example.js"
    mode: "javascript"
    content: '''
      var html = document.getElementById('hello').innerHTML
      
      console.log(html)
    '''
  }
]
tags: []
isStarred: false
createdAt: "2017-04-21T06:52:30.728Z"
updatedAt: "2017-04-21T06:52:30.728Z"
