createdAt: "2018-02-02T22:51:59.414Z"
updatedAt: "2018-02-02T22:57:52.890Z"
type: "MARKDOWN_NOTE"
folder: "5c96f0840146633d247b"
title: "nuke everything"
content: '''
  # nuke everything
  
  To clear containers:
  > `docker rm -f $(docker ps -a -q)`
  
  To clear images:
  > `docker rmi -f $(docker images -a -q)`
  
  To clear volumes:
  > `docker volume rm $(docker volume ls -q)`
  
  
  To clear networks:
  > `docker network rm $(docker network ls | tail - n+2 | awk '{if($2 !~ /bridge|none|host/){print $1 }}')`
  
  Restart docker
  > `sudo service docker restart`
'''
tags: []
isStarred: false
isTrashed: false
