createdAt: "2018-02-11T05:46:00.263Z"
updatedAt: "2018-02-11T05:48:01.950Z"
type: "MARKDOWN_NOTE"
folder: "02e549ed193e292be35f"
title: "Ubuntu 安装 java 并使用 update-java-alternatives 进行切换"
content: '''
  # Ubuntu 安装 java 并使用 update-java-alternatives 进行切换
  
  
'''
tags: []
isStarred: false
isTrashed: true
