type: "MARKDOWN_NOTE"
folder: "770b506064e20e1eb4bf"
title: "Design Document"
content: '''
  # Design Document
  
  ### MasterNode
  Metadarta
  - ChunkList
  - FileList
  - 
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-10-18T23:46:03.278Z"
updatedAt: "2017-10-19T00:50:54.482Z"
