createdAt: "2018-03-09T09:31:22.849Z"
updatedAt: "2018-03-09T09:31:47.239Z"
type: "MARKDOWN_NOTE"
folder: "0e2c94a457e2a0c98adf"
title: "点点博客"
content: '''
  # 点点博客
  
  C, stop steal time from P
'''
tags: []
isStarred: false
isTrashed: false
