createdAt: "2018-03-14T05:58:23.223Z"
updatedAt: "2018-03-14T18:32:53.571Z"
type: "MARKDOWN_NOTE"
folder: "d3951723af8b36b367cb"
title: "GitHub"
content: '''
  # GitHub
  
  ## `commit`
  
  - version, hash_id
  - parent.
  
  ## `branch`
  
  - combine code: **merge** or **rebase**
  - one rule: everything in `master` is always deployable.
  - branch name should be descriptive. e.g., `add-index-page`
  
  ## `merge`
  
  - During pull request, you can associate issues with code. e.g., `closes #32` or `fix #32` would close issue number 32 in the repository.
  - The following keywords, followed by an issue number, will close the issue:
    - close
    - closes
    - closed
    - fix
    - fixes
    - fixed
    - resolve
    - resolves
    - resolved
  - To close an issue in another repository, use the `username/repository#issue_number` syntax. e.g., `Closes example_user/example_repo#76`
  - To close multiple issues, preface each issue reference with one of the above keywords. e.g., `This closes #34, closes #23, and closes example_user/example_repo#42`
'''
tags: []
isStarred: false
isTrashed: false
