type: "MARKDOWN_NOTE"
folder: "2affe4655e0308a78bb4"
title: "2017 TODO"
content: '''
  # 2017 TODO
  ---
  2017.12
  
  - [ ] 罚单
  - [ ] 信用卡还款
  - [ ] 汽车保养 + dmv
  - [x] 房租
  
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-12-02T23:05:52.231Z"
updatedAt: "2018-02-28T23:34:39.077Z"
