createdAt: "2018-03-20T05:10:42.010Z"
updatedAt: "2018-03-20T05:12:45.073Z"
type: "MARKDOWN_NOTE"
folder: "507a6a7b8a945de2c6da"
title: "蒜香骨"
content: '''
  # 蒜香骨
  
  蚝油酱油蒜末姜末糖搅匀了抹排骨上腌半天
  
  蚝油酱油糖的比例大概是6:3:2
  
  450f 包着锡纸25分钟，打开锡纸再看情况15分钟左右
'''
tags: []
isStarred: false
isTrashed: false
