type: "MARKDOWN_NOTE"
folder: "25e447a4d8a6df4b48b4"
title: "学习语言无非是语法、库和框架这三者"
content: "学习语言无非是语法、库和框架这三者"
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-28T22:20:07.907Z"
updatedAt: "2017-09-28T22:20:21.372Z"
