createdAt: "2018-02-03T01:10:50.271Z"
updatedAt: "2018-02-03T01:14:24.454Z"
type: "MARKDOWN_NOTE"
folder: "99586c29829f63f12112"
title: "Unix 箴言"
content: '''
  # Unix 箴言
  - 万物皆文件 (everything is a file)
'''
tags: []
isStarred: false
isTrashed: false
