type: "MARKDOWN_NOTE"
folder: "82fd2f6ef76894961133"
title: "Linux 常用命令"
content: '''
  # Linux 常用命令
  
  - `netstat -apn` 查看端口占用
  
  - `sudo su` 在 ubuntu 下获得 root 权限
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-18T05:30:26.073Z"
updatedAt: "2018-03-17T00:18:30.566Z"
