type: "MARKDOWN_NOTE"
folder: "2824f3e225f36c2e7962"
title: "Class Note"
content: '''
  # Class Note
  
  - Program -- Process: a program in execution. 
  ---
  quiz 04: 
  - [ ] DDSP ch3
  - [ ] Lecture Notes
  - [ ] fork()/exec()
  - [ ] file descriptors
  - [x] pipes
  
  ---
  
  Midterm (Oct 10th)
  - [ ] sample
  
  ---
  
  ## File System
  
  - DOS FAT
  - NTFS
  - LINUX : ext3, ext4
  - Disk : blocks(512 bytes) ![disc block](https://raw.githubusercontent.com/dchen23/boost_note_online/master/Images/disc.jpg)
  - `ln` : inode ![inode](https://raw.githubusercontent.com/dchen23/boost_note_online/master/Images/inode.jpeg)
  
  ---
  # xv6
  
  quiz 05
  - [ ] OSPP ch2 2.1 - 2.7
  - [ ] xv6 book ch0
  
  ## Introduction
  xv6 -> C + x86 Assembly -> compile/link -> kernel -> run on Qemu.
  
  quiz 06 - Tue Oct 31
  - [ ] xv6 ch 1,4,5
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-14T22:22:20.853Z"
updatedAt: "2017-10-30T07:42:57.582Z"
isPinned: true
