type: "MARKDOWN_NOTE"
folder: "1b291bf5c7d96c75dda5"
title: "Career List"
content: '''
  # Career List
  
  - [ ] Indeed (dream)
  - [ ] twitter
  - [ ] Tableau
  - [ ] Salces Force
  - [ ] Bloomberg
  - [ ] **Adobe**
  - [ ] Redfin
  - [ ] Opendoor
  - [ ] **Yahoo! (dream)**
  - [ ] juying
  - [ ] Flag
  - [ ] Acuna
  - [ ] zen desk
  - [ ] docker
  - [ ] box
  - [ ] pinterest
  - [ ] airbnb
  - [ ] **machine zone**
  - [ ] **smule**
  - [ ] cisco (dream)
  - [ ] visa (dream)
  - [ ] ebay (dream)
  - [ ] **accenture**
  - [ ] **Paypal**
  - [ ] American express
  - [ ] Walmart
  - [ ] **godaddy**
  - [ ] **paypal**
  - [ ] **Orcale**
  - [ ] **EA**
  - [ ] **IBM**
  - [ ] Databricks
  - [ ] big four
  - [ ] dropbox
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-14T09:37:32.522Z"
updatedAt: "2017-11-02T05:02:34.032Z"
isPinned: true
