createdAt: "2018-02-22T01:22:40.646Z"
updatedAt: "2018-03-06T02:56:35.216Z"
type: "MARKDOWN_NOTE"
folder: "9cecadbb6177e0805c62"
title: "(R) 4. Estimating the Population Mean When the Population Standard Deviation is Known"
content: '''
  # (R) 4. Estimating the Population Mean When the Population Standard Deviation is Known
  
  ## Sampling Distribution
  
  $$Population \\sim N(\\mu, \\sigma^2)$$
  $$Sampling Distribution \\sim N(\\mu, \\frac{\\sigma^2}{n})$$
  
  - If we are sampling from a population of individuals that is $\\sim N(\\mu, \\sigma^2)$, then the sampling distribution of sample means (with sample sizes equal to n) is $\\sim N(\\mu, \\frac{\\sigma^2}{n})$ where $\\overline{x}$ and $s_2$ are **unbiased estimators** of $\\mu$ and $\\sigma^2$ respectively
  - The purpose for sampling from the population is ro (hopefully) get a good estimate ($\\overline{x}$) of the population mean ($\\mu$)
  - **Condition:** we only **assume one thing about the population**, that $\\sigma$ is given (known).
'''
tags: []
isStarred: false
isTrashed: false
