createdAt: "2018-02-18T11:15:34.419Z"
updatedAt: "2018-02-18T11:40:09.812Z"
type: "MARKDOWN_NOTE"
folder: "06d7e86e5560676f3524"
title: "1. 随机事件与样本空间"
content: '''
  # 1. 随机事件与样本空间
  
  ## 随机试验 $(E)$
  1. 同条件下可重复
  2. 试验结果明确可知且不止一个
  3. 实验前不知明确结果会发生
  
  ## 几个概念
  
  1. 试验结果中每一个最简单，最基本（不可再分）的结果，叫做**样本点（基本事件）**，记作 $\\omega$.
  2. $\\omega$ 的**全体**叫做**样本空间**，记作 $\\Omega$.
  3. 样本空间的**子集**叫做**随机事件**，记作（英文大写的） $A, B, C, \\ldots$ 
  4. 子集中：
      - $\\Omega$ 本身：必然事件
      - $\\emptyset$ ：不可能事件
'''
tags: []
isStarred: false
isTrashed: false
