createdAt: "2018-02-18T11:40:13.104Z"
updatedAt: "2018-02-18T12:34:37.355Z"
type: "MARKDOWN_NOTE"
folder: "06d7e86e5560676f3524"
title: "2. 古典概型（概率模型）"
content: '''
  # 2. 古典概型（概率模型） 
  
  若 $E$ 的 $\\Omega$ 中：
  - 有**有限个**样本点
  - 样本点的发生具有**等可能性**
  
  称其为古典概型。
  
  则事件 $A$ 发生的概率为：
  $$p(A) = \\frac{A \\text{中含有样本点个数}}{\\Omega\\text{中含有样本点总数}}$$
  
  > [注] 计数方法：
  > 1. 穷举法：个数不多时，直接数数
  > 2. 集合对应法：
  >     1. 加法原理 —— 完成一件事有 $n$ 类方法，第一类方法中有 $m_1$ 种方法，第二类方法中有 $m_2$ 种方法，$\\ldots$ ，第 $n$ 类方法中有 $m_n$ 种方法，则完成这件事共有 $\\sum_{i=1}^{n}m_i$ 种方法
  >     2. 乘法原理 —— 完成一件事有 $n$ 个步骤，第一步有 $m_1$ 种办法，第二步有 $m_2$ 种办法，$\\ldots$ ， 第 $n$ 步有 $m_n$ 种办法，则完成这件事共有 $\\prod_{i=1}^{n}m_i$ 种方法
  >     3. 排列 —— 从 $n$ 个不同的元素中取出 $m(m\\leq n)$ 个元素，并**按照一定顺序**排成一列，叫排列。所有排列的个数叫做**排列数**，记作 $P_n^m =n(n-1)(n-2)\\ldots(n-m+1) = \\frac{n!}{(n-m)!}$. 当 $n = m$ 时，$P^n_n = \\frac{n!}{0!} = n!$ 叫**全排列**
  >     4. 组合 —— 从 $n$ 个不同的元素中取出 $m(m\\leq n)$ 个元素，**并成一组**，叫排列。所有组合的个数叫做**组合数**，记作 $C^m_n = \\frac{P^m_n}{m!}$
  > 3. 对立事件思想：若研究 $A$ 复杂，则转而研究 $\\overline{A}$ ，用 $n - n_{\\overline{A}} = n_A$ 得出
'''
tags: []
isStarred: false
isTrashed: false
