type: "MARKDOWN_NOTE"
folder: "6cbe5818d58870c04fde"
title: "Welcome to Boostnote :)"
content: '''
  # Welcome to Boostnote :)
  This is a markdown note.
  
  Click to edit this note.
'''
tags: []
isStarred: false
createdAt: "2017-04-21T06:52:30.668Z"
updatedAt: "2017-04-21T06:52:30.668Z"
