createdAt: "2018-02-18T11:14:22.970Z"
updatedAt: "2018-02-18T11:15:29.813Z"
type: "MARKDOWN_NOTE"
folder: "9cecadbb6177e0805c62"
title: "概率论与数理统计"
content: '''
  # 概率论与数理统计
  
'''
tags: []
isStarred: false
isTrashed: true
