type: "MARKDOWN_NOTE"
folder: "4ff331626e7937f1a87a"
title: "Week 02"
content: '''
  Week 02
  
  
  - [ ] fullfill project system design
  - [ ] Read Flink document.
  - [ ] Run 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-21T17:13:37.203Z"
updatedAt: "2017-09-26T00:41:19.813Z"
