createdAt: "2018-02-03T01:05:49.534Z"
updatedAt: "2018-02-03T01:37:23.136Z"
type: "MARKDOWN_NOTE"
folder: "99586c29829f63f12112"
title: "与 Android 相关的 Linux 内核知识"
content: '''
  # 与 Android 相关的 Linux 内核知识
  
  ## 1. 安全
  1. Linux 系统中的用户和权限
    Linux 系统中的每个文件和目录都有访问权限。Linux 系统中规定了三种类型的用户：
      - user: 文件拥有者
      - group: 同组用户
      - others: 可以访问系统的其他用户
  2. 文件及目录权限的功能
      Linux 规定了访问文件的三种方式：
      - 读权限 \\(r\\)
      - 写权限 (w)
      - 执行权限 (x)
      
      文件被创建时，文件的所有者自动获得所有三个权限。
      
  ## 2. 内存管理
  分配程序 (allocator), 负责分配和回收内存，需要满足三个需求：
  - 确定是否有足够的内存来处理数据
  - 从可用的内存中获取一部分内存
  - 向可用内存池 (pool) 返回部分内存，以使其可以由程序的其他部分或者其他程序使用
  
  ## 3. 进程管理
  
'''
tags: []
isStarred: false
isTrashed: false
