createdAt: "2018-02-03T01:05:49.534Z"
updatedAt: "2018-03-30T22:40:43.842Z"
type: "MARKDOWN_NOTE"
folder: "bca3afe450c502d5c08b"
title: "Android 底层开发技术实战详解 笔记 -- （1）底层开发基础"
content: '''
  # Android 底层开发技术实战详解 笔记 -- （1）底层开发基础
  
  ## 简析 Linux 内核
  
  Linux 内核分为两个部分：
  
  - **体系相关部分**：这部分内核为体系结构和硬件所特有
  - **体系无关部分**：这部分内核是可移植的。体系无关部分通常会定义与体系相关部分的结构，这样，内核向向的体系结构移植的过程就变成确认这些接口特性并将它们实现的过程。
  
  ## 和 Android 密切相关的 Linux 内核知识
  
  ### 1. 安全
  
  1. Linux 系统中的用户和权限
    Linux 系统中的每个文件和目录都有访问权限。Linux 系统中规定了三种类型的用户：
      - user: 文件拥有者
      - group: 同组用户
      - others: 可以访问系统的其他用户
  2. 文件及目录权限的功能
      Linux 规定了访问文件的三种方式：
      - 读权限 \\(r\\)
      - 写权限 (w)
      - 执行权限 (x)
      
      文件被创建时，文件的所有者自动获得所有三个权限。
      
  ### 2. 内存管理
  
  分配程序 (allocator), 负责分配和回收内存，需要满足三个需求：
  - 确定是否有足够的内存来处理数据
  - 从可用的内存中获取一部分内存
  - 向可用内存池 (pool) 返回部分内存，以使其可以由程序的其他部分或者其他程序使用
  
  程序的动态性越强，内存管理就越重要，内存分配程序的选择就更重要。
  
  ### 3. 进程管理
  
  在 Linux 系统中有三种不同类型的进程：
  
  - **交互进程**：由一个 Shell 启动的进程。交互进程既可以在前台运行，也可以在后台运行。
  - **批处理进程**：批处理进程和终端没有联系，是一个进程序列。
  - **守护进程**：系统守护进程是 Linux 系统启动时启动的进程，在后台运行。
  
  Linux 管理进程的最好方法就是使用命令行下的系统命令。
  
  #### 1.父进程和子进程
  
  父进程和子进程是管理和被管理的关系，当父进程终止时，子进程也会随之被终止。但是如果子进程被终止，父进程不一定终止。
  
  #### 2. 进程命令
  
  - ps (process status) - 显示瞬间进程的动态。
             
        $ ps [options] [--help]
        
    ps 的可选参数很多，常用如下：
    
    - `-a`: 显示所有终端机下执行的进程，除了阶段作业领导职之外。
    - `-w`: 采用稀疏格式显示输出
    - `-au`: 显示详细的进程状态
    - `-aux`: 显示所有包含其他用户的进程
  
  - pstree - 以树状图显示运行的程序。pstree 指令使用 ASCII 字符显示树状结构，清楚地表达程序间的相互关系。如果不指定程序 ID 或者用户名，则会把系统启动时的第一个程序视为基层，并显示之后的所有程序。若指定用户名，便会以属于该用户的第一个程序作为基层。
  
        $ pstree 
    
   
'''
tags: []
isStarred: false
isTrashed: false
