type: "SNIPPET_NOTE"
folder: "4ff331626e7937f1a87a"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "Plain Text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-21T17:41:14.586Z"
updatedAt: "2017-09-21T17:41:24.500Z"
