createdAt: "2018-02-12T04:10:47.027Z"
updatedAt: "2018-02-24T03:56:44.949Z"
type: "MARKDOWN_NOTE"
folder: "3246ddbd6f8814128f2f"
title: "Remarkup 参考"
content: '''
  # Remarkup 参考
  
  学会的人都牛批了。
  
  ## 简述
  
  Phabricator 使用一个叫做 "Remarkup" 的轻量级标记语言，类似于其他轻量级标记语言，如 Markdown 和 Wiki 标记语言。
  
  ## 快速上手
  
  所有的语法会在之后的章节 详细说明，这只是一个使用 Remarkup 来格式化文本的快速指南。
  
  这些事内联样式 (inline style)，可以应用于大多数文本：
  
      **bold** //italic// `monospaced` ##monospaced## ~~deleted~~ __underlined__
      !!highlighted!!
      D123 T123 rX123           # 链接到对象
      {D123} {T123}             # 链接到对象 (全名)
      {F123}                    # 嵌入图片
      {M123}                    # 嵌入 Pholio Mock
      @username                 # 提及用户
      #project                  # 提及项目
      [[wiki page]]             # 链接到 Phriction
      [[wiki page | name]]      # 命名链接到 Phriction
      http://xyz/               # 链接到网页
      [[http://xyz/ | name]]    # 命名链接到网页
      [name](http://xyz/)       # 备用链接
      
  这些事块样式 (block style)，使用时必须用 空格符 与周围文本隔开：
  
      = 大标题 =
  
      ==  小标题 ==
  
      ## 这也是一个标题
  
      这也是一个大标题
      ===================
  
      这也是一个小标题
      ---------------------
  
      > 引用文本
  
      `- ` 或 `* ` 用于符号列表, 而 `# ` 用于编号列表.
      ``` 或锁进两个空格表示代码。
      对文字块使用 %%%。
      使用 | ... | ... 表示表格。
      
  ## 基本样式
  
  按如下方法格式化**基本文本样式**：
      
      **加粗文本**
      //斜体文本//
      `等宽文本`
      ##等宽文本##
      ~~删除的文本~~
      __下划线文本__
      !!高亮显示的文本!!
      
  这些分别会生成**加粗文本**, //斜体文本//, `等宽文本`, ##等宽文本##, ~~删除的文本~~, __下划线文本__, 和 !!高亮显示的文本!! 。
  
  ## 布局
  
  生成**标题**：
  
      = 大标题 =
  
      == 小标题 ==
  
      ===== 非常小的标题 =====
  
      同样是大标题
      ======================
  
      同样是小标题
      ------------------------
  
  你可以选择省略尾随的 `=`, `---`  符号。所以下面两行的功能是一样的：
  
      == 小标题 ==
      == 小标题
      
  确保标题之前和之后都有一个空行
  
  ## 列表
  
  过在每个条目前添加 - 或 * 可以生成列表：
  
      - 牛奶
      - 鸡蛋
      - 面包
  
      * 鸭
      * 鸭
      * 鹅
      
  这将产生如下列表：
  
  - 牛奶
  - 鸡蛋
  - 面包
  
  > 注意，你需要在 - 或 * 之后添加一个空格。
  
  可以通过 数字 替换 - 或 * 生成有序列表：
  
      1. Articuno
      2. Zapdos
      3. Moltres
  
  有序列表也可以以 1. 或 1) 开头。 如果你使用一个不是1的数字，列表将从该数字开始。 例如：
  
      200) 好
      201) 已创建
      202) 已接收
  
  ...生成:
  
  200) 好
  201) 已创建
  202) 已接收
  
  您还可以嵌套列表:
  
      - 身体
          - 头
          - 手臂
              - 手肘
              - 手掌
                  1. 拇指
                  2. 食指
                  3. 中指
                  4. 无名指
                  5. 小指
          - 腿
              - 膝盖
              - 脚
  
  ...产生:
  
  - 身体
      - 头
      - 手臂
          - 手肘
          - 手掌
              1. 拇指
              2. 食指
              3. 中指
              4. 无名指
              5. 小指
      - 腿
          - 膝盖
          - 脚
  
  如果愿意，您可以使用多个字符缩进列表以显示缩进深度，如下所示：
  
      - 树
      -- 树枝
      --- 枝条
      
  ...产生：
  
  - 树
  -- 树枝
  --- 枝条
  
  您可以通过使用 [] 或 [X] 前缀来为项目添加复选框，如下所示：
  
      - [X] 预热烤箱至450度。
      - [ ] 吃35个柠檬。
  
  ...产生:
  
  - [X] 预热烤箱至450度。
  - [ ] 调35柠檬。
  
  过缩进两个空格来创建代码块：
  
      f(x, y);
      
  您还可以使用三个反引号包围代码块：
  
  ```
  f(x, y);
    g(f);
  ```
  
  您可以使用lang = xxx指定语法高亮的语言：
  
      lang=html
      <a href="#">...</a>
      
  如果有可用的高亮工具，代码块将被高亮为指定的语言。 （在大多数情况下，这意味着您需要配置 Pygments）
  
  lang=html
  <a href="#">...</a>
'''
tags: []
isStarred: false
isTrashed: false
