createdAt: "2018-02-12T04:10:47.027Z"
updatedAt: "2018-02-12T04:53:19.697Z"
type: "MARKDOWN_NOTE"
folder: "3246ddbd6f8814128f2f"
title: "Remarkup 参考"
content: '''
  # Remarkup 参考
  
  学会的人都牛批了。
  
  ## 简述
  
  Phabricator 使用一个叫做 "Remarkup" 的轻量级标记语言，类似于其他轻量级标记语言，如 Markdown 和 Wiki 标记语言。
  
  ## 快速上手
  
  所有的语法会在之后的章节 详细说明，这只是一个使用 Remarkup 来格式化文本的快速指南。
  
  这些事内联样式 (inline style)，可以应用于大多数文本：
  
      **bold** //italic// `monospaced` ##monospaced## ~~deleted~~ __underlined__
      !!highlighted!!
      D123 T123 rX123           # 链接到对象
      {D123} {T123}             # 链接到对象 (全名)
      {F123}                    # 嵌入图片
      {M123}                    # 嵌入 Pholio Mock
      @username                 # 提及用户
      #project                  # 提及项目
      [[wiki page]]             # 链接到 Phriction
      [[wiki page | name]]      # 命名链接到 Phriction
      http://xyz/               # 链接到网页
      [[http://xyz/ | name]]    # 命名链接到网页
      [name](http://xyz/)       # 备用链接
      
  这些事块样式 (block style)，使用时必须用 空格符 与周围文本隔开：
  
      = 大标题 =
  
      ==  小标题 ==
  
      ## 这也是一个标题
  
      这也是一个大标题
      ===================
  
      这也是一个小标题
      ---------------------
  
      > 引用文本
  
      `- ` 或 `* ` 用于符号列表, 而 `# ` 用于编号列表.
      ``` 或锁进两个空格表示代码。
      对文字块使用 %%%。
      使用 | ... | ... 表示表格。
      
  ## 基本样式
  
  按如下方法格式化**基本文本样式**：
      
      **加粗文本**
      //斜体文本//
      `等宽文本`
      ##等宽文本##
      ~~删除的文本~~
      __下划线文本__
      !!高亮显示的文本!!
      
  这些分别会生成**加粗文本**, //斜体文本//, `等宽文本`, ##等宽文本##, ~~删除的文本~~, __下划线文本__, 和 !!高亮显示的文本!! 。
  
  ## 布局
  
  生成**标题**：
  
      = 大标题 =
  
      == 小标题 ==
  
      ===== 非常小的标题 =====
  
      同样是大标题
      ======================
  
      同样是小标题
      ------------------------
  
  
'''
tags: []
isStarred: false
isTrashed: false
